
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-inter);
}

.font-mono {
  font-family: var(--font-mono);
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0b0e14;
  }
  ::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #374151;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
